In [7]:
import numpy as np
import pandas as pd

from HTDetect import HTDetect

In [8]:
target_vid = 'Measureyes_0924_01'

demo_1 = HTDetect(target_vid) # Initialize HTDetect object with video ID

#### Execute `main()` method with optional parameters to qualify head turns; defaults shown below.

In [9]:
demo_1.main(yaw_threshold=45, # Degrees of head pose left and right of camera center within which to qualify as HT
            pitch_threshold=45, # Degrees, ditto: head pose up and down from camera center 
            dwell_threshold=1.5, # Seconds, minimum necessary of head turned toward camera to qualify as HT
            HT_break=1.5, # Seconds, minimum interruption of HT for single viewer to constitute a break bw HTs
            print_results=True # Print a summary of results
           )

 Total Persons Detected: _____166
 Total HTers: __________________5
 Total HTs Detected: __________21

 Head-Turn Rate: ___________0.030

 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Source Video ID: Measureyes_0924_01
 Head xTurn Parameters:
     Yaw Threshold (max allowable face angle left or right of camera): 45 degrees
     Pitch Threshold (max allowable angle up or down from camera): 45 degrees
     Minimum dwell to qualify: 1.5 seconds
     Minimum duration (break) between multiple HTs by single person: 1.5 seconds

#### Aggregate statistics are accessible through the following HTDetect attributes

In [13]:
print("Count of distinct persons detected in video: ", demo_1.ttl_persons)
print("Count of distinct persons detected who made HTs: ", demo_1.HTers)
print("Head-Turn Rate, the ratio of HTers to total persons detected: {:.3f}".format(demo_1.HTR))
print("Count of HTs detected: {}".format(len(demo_1.HTs_df)))

Count of distinct persons detected in video:  166
Count of distinct persons detected who made HTs:  5
Head-Turn Rate, the ratio of HTers to total persons detected: 0.030
Count of HTs detected: 21

#### Data for HTs are returned in the `HTDetect.HTS_df` object.

HTs are ordered chronologically by HT_start, a timestamp of milliseconds from the start of the target video.  
Use Pandas `DataFrame.sort_values(by=col)` method to sort by dwell time or by person_index.

In [14]:
demo_1.HTs_df

    HT_start  HT_dwell  person_index
1       6381     5.005            33
2       9175     3.003            32
3      17976     3.420            34
4      27402     6.798            32
5      32198     2.586            46
6      37412     8.175            32
7      41207     3.003            34
8      47005     4.421            47
9      47213     4.213            32
10     60018     5.797            34
11     64022     4.421            32
12     73239     2.586            46
13     75450     1.793            33
14     76034     2.002            32
15     84250     2.002            32
16     86252     9.218            34
17    101267     2.211            32
18    104854     3.420            34
19    110276     4.213            33
20    112487     1.585            32
21    121496     3.795            47